*{
    margin: 0;
    padding: 0;
}
:root{
    --color1:rgb(5, 0, 12);
    --color2:rgb(253, 221, 221);
}
body{
    background: rgb(245, 238, 238);
}
.areaentradas{
    width: 100%;
    height: 100px;
    display: flex;
}
.error{
    font-size: 1.5rem;
    margin:40px auto auto 2%;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
.mira{
    display: flex;
    width: 50%;
    margin: 50px auto;
}
.mira p{
    margin: auto 2px auto auto;
    width: fit-content;
}